<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Chicken Asado</title>
        <script src="https://unpkg.com/feather-icons"></script>
    </head>

    <body>
        <header>
            <span>Odin Recipes</span>
            <nav>
                <a href="../../index.html">Home</a>
            </nav>
        </header>
        <hr />
        <main>
            <article>
                <h1>Chicken Asado</h1>
                <figure>
                    <img
                        src="../../../assets/images/chicken-asado.jpg"
                        alt="The braised chicken is served on an orange plate, with rice balls surrounding it."
                        height="420"
                    />
                    <figcaption>Chicken Asado</figcaption>
                </figure>
                <h2>Description</h2>

                <p>
                    A Filipino braised chicken dish cooked in a sweet and savory
                    sauce made with soy sauce, vinegar, sugar, and aromatics
                    until tender.
                </p>

                <h2>Ingredients</h2>
                <ul>
                    <li>2 lbs chicken cut into serving pieces</li>
                    <li>1/4 cup lemon juice</li>
                    <li>2 tablespoons soy sauce</li>
                    <li>1/4 cup butter</li>
                    <li>1 1/2 cup of tomato sauce</li>
                    <li>1 large onion diced</li>
                    <li>2 pieces dried bay leaves</li>
                    <li>2 large potatoes quartered</li>
                    <li>1/2 teaspoon salt</li>
                    <li>1/2 teaspoon ground black pepper</li>
                    <li>3/4 cup cooking oil</li>
                </ul>

                <h2>Steps</h2>
                <ol>
                    <li>
                        Rub the chicken with salt and pepper and let stand for
                        at least 30 minutes.
                    </li>
                    <li>
                        Heat a frying pan then pour-in the cooking oil and Pan
                        Fry the chicken. Set aside.
                    </li>
                    <li>Heat a cooking pot or wok then put-in the butter.</li>
                    <li>
                        When the butter is hot enough, add the onions and sauté
                        until the texture becomes soft.
                    </li>
                    <li>Add-in the bay leaves and cook for a minute.</li>
                    <li>Pour-in the tomato sauce and bring to a boil.</li>
                    <li>
                        Add the soy sauce and lemon juice then stir to ensure
                        that the mixture is properly distributed and simmer for
                        5 to 7 minutes.
                    </li>
                    <li>
                        Add the pan-fried chicken and simmer for 10 minutes.
                    </li>
                    <li>
                        Place the potatoes in and continue to simmer for 7 to 12
                        minutes.
                    </li>
                    <li>
                        Turn off the heat then transfer to a serving plate and
                        serve.
                    </li>
                </ol>
            </article>
        </main>
        <a
            href="https://panlasangpinoy.com/chicken-asado-asadong-manok-recipe/"
            rel="noopener noreferrer"
        >
            Credits
        </a>
        <hr />
        <footer>
            <a
                href="https://github.com/Soljira/odin-recipes"
                rel="noopener noreferrer"
            >
                <i
                    data-feather="github"
                    style="vertical-align: text-center"
                ></i>
                Soljira
            </a>
            <a href="mailto:soljiragit@gmail.com">
                <i data-feather="mail" style="vertical-align: text-center"></i>
                soljiragit@gmail.com
            </a>
            <!-- Needed for rendering feather icons -->
            <script>
                feather.replace();
            </script>
        </footer>
    </body>
</html>
