<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Lumpia</title>
        <script src="https://unpkg.com/feather-icons"></script>
    </head>

    <body>
        <header>
            <span>Odin Recipes</span>
            <nav>
                <a href="../../index.html">Home</a>
            </nav>
        </header>
        <hr />

        <main>
            <article>
                <h1>Lumpia</h1>
                <figure>
                    <img
                        src="../../../assets/images/lumpia.jpg"
                        alt=""
                        height="420"
                    />
                    <figcaption>Lumpia</figcaption>
                </figure>
                <h2>Description</h2>

                <p>
                    Filipino spring rolls filled with vegetables, meat, or
                    seafood, wrapped in thin pastry and either served fresh or
                    deep-fried until golden and crispy.
                </p>

                <h2>Ingredients</h2>
                <ul>
                    <li>50 pieces lumpia wrapper</li>
                    <li>3 cups cooking oil</li>
                    <li>1 1/2 lbs ground pork</li>
                    <li>2 pieces onion minced</li>
                    <li>2 pieces carrots minced</li>
                    <li>1 1/2 teaspoons garlic powder</li>
                    <li>1/2 teaspoon ground black pepper</li>
                    <li>1/2 cup parsley chopped</li>
                    <li>1 1/2 teaspoons salt</li>
                    <li>1 tablespoon sesame oil</li>
                    <li>2 eggs</li>
                </ul>

                <h2>Steps</h2>
                <ol>
                    <li>
                        Combine all filling ingredients in a bowl. Mix well.
                    </li>
                    <li>
                        Scoop around 1 to 1 1/2 tablespoons of filling and place
                        over a piece of lumpia wrapper. Spread the filling and
                        then fold both sides of the wrapper. Fold the bottom.
                        Brush beaten egg mixture on the top end of the wrapper.
                        Roll-up until completely wrapped. Perform the same step
                        until all mixture are consumed.
                    </li>
                    <li>
                        Heat oil in a cooking pot. Deep fry lumpia in medium
                        heat until it floats.
                    </li>
                    <li>
                        Remove from the pot. Let excess oil drip. Serve. Share
                        and enjoy
                    </li>
                </ol>
            </article>
        </main>
        <a
            href="https://panlasangpinoy.com/filipino-lumpia-recipe/"
            rel="noopener noreferrer"
        >
            Credits
        </a>
        <hr />
        <footer>
            <a
                href="https://github.com/Soljira/odin-recipes"
                rel="noopener noreferrer"
            >
                <i
                    data-feather="github"
                    style="vertical-align: text-center"
                ></i>
                Soljira
            </a>
            <a href="mailto:soljiragit@gmail.com">
                <i data-feather="mail" style="vertical-align: text-center"></i>
                soljiragit@gmail.com
            </a>
            <!-- Needed for rendering feather icons -->
            <script>
                feather.replace();
            </script>
        </footer>
    </body>
</html>
