<footer class="footer mt-auto py-3 bg-light text-center bg-dark">
    <div class="container">
        <a
            class="nav-link text-nowrap mx-1 text-white fs-4"
            href="https://github.com/Soljira/Bookstore-System"
        >
            <i data-feather="circle" style="vertical-align: text-center"></i>
            <!-- <span><img src="../assets/icons/github.svg" class="me-2"></img></span> -->
            Soljira
        </a>
        <a
            class="nav-link text-nowrap mx-1 fs-6 text-primary"
            href="mailto:soljiragit@gmail.com"
        >
            soljiragit@gmail.com
        </a>
        <span class="text-white">&copy 2025</span>
    </div>

    <!-- Needed for rendering feather icons -->
    <script>
        feather.replace();
    </script>
</footer>
