<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Sarciado</title>
        <script src="https://unpkg.com/feather-icons"></script>
    </head>

    <body>
        <header>
            <span>Odin Recipes</span>
            <nav>
                <a href="../../index.html">Home</a>
            </nav>
        </header>
        <hr />
        <h1>Sarciado</h1>
        <main>
            <article>
                <figure>
                    <img
                        src="../../assets/images/sarciado.jpg"
                        alt="The dish is served in a bowl, with fish cooked in a tomato-based sauce that gives it a reddish hue."
                        height="350"
                    />
                </figure>
                <h2>Description</h2>

                <p>
                    A Filipino dish typically featuring fish or meat cooked in a
                    tangy tomato-based sauce with onions, eggs, and seasonings.
                </p>

                <h2>Ingredients</h2>
                <ul>
                    <li>1 whole fish cleaned</li>
                    <li>4 grams Maggi Magic Sarap</li>
                    <li>1 piece onion chopped</li>
                    <li>3 pieces tomatoes diced</li>
                    <li>6 cloves garlic. minced</li>
                    <li>1 bunch green onions chopped</li>
                    <li>2 eggs beaten</li>
                    <li>¾ cup cooking oil</li>
                    <li>1 ¼ cups water</li>
                    <li>Ground black pepper and fish sauce to taste</li>
                </ul>

                <h2>Steps</h2>
                <ol>
                    <li>Rub Maggi Magic Sarap all over the fish.</li>
                    <li>
                        Heat ¾ cup of cooking oil in a pan. Fry both sides of
                        the fish until until the color turns golden brown.
                        Remove the fish from the pan. Set aside.
                    </li>
                    <li>
                        Reduce the oil that was used to fry the fish to 3
                        tablespoons. Saute the garlic, onion, and tomato.
                    </li>
                    <li>
                        Season with ground black pepper and fish sauce once the
                        onion and tomatoes soften.
                    </li>
                    <li>Ground black pepper and fish sauce to taste</li>
                    <li>Pour water. Let it boil. Simmer for 3 minutes.</li>
                    <li>
                        Add the chopped green onions and pour the beaten eggs.
                        Quickly stir. Cook for 2 minutes.
                    </li>
                    <li>
                        Put the fried fish back into the pan. Continue cooking
                        for 2 to 3 minutes.
                    </li>
                    <li>Transfer to a serving plate. Serve with rice.</li>
                </ol>
            </article>
        </main>
        <a
            href="https://panlasangpinoy.com/sarciado/"
            rel="noopener noreferrer"
        >
            Credits
        </a>

        <hr />
        <footer>
            <a
                href="https://github.com/Soljira/odin-recipes"
                rel="noopener noreferrer"
            >
                <i
                    data-feather="github"
                    style="vertical-align: text-center"
                ></i>
                Soljira
            </a>
            <a href="mailto:soljiragit@gmail.com">
                <i data-feather="mail" style="vertical-align: text-center"></i>
                soljiragit@gmail.com
            </a>
            <!-- Needed for rendering feather icons -->
            <script>
                feather.replace();
            </script>
        </footer>
    </body>
</html>
