<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Sisig</title>
        <script src="https://unpkg.com/feather-icons"></script>
    </head>

    <body>
        <header>
            <span>Odin Recipes</span>
            <nav>
                <a href="../../index.html">Home</a>
            </nav>
        </header>
        <hr />
        <main>
            <article>
                <h1>Sisig</h1>

                <figure>
                    <img
                        src="../../../assets/images/sisig.jpg"
                        alt="The dish is served on a cast iron sizzler with chopped meat on it. It's garnished with chili peppers and a calamansi."
                        height="350"
                    />
                </figure>
                <h2>Description</h2>

                <p>
                    A popular Filipino dish made from chopped pig's face and
                    ears, seasoned with calamansi, chili peppers, and onions,
                    often served sizzling on a hot plate.
                </p>

                <h2>Ingredients</h2>
                <ul>
                    <li>½ lbs. Pork belly</li>
                    <li>3 tablespoons Knorr Liquid Seasoning</li>
                    <li>1 lb. pig face maskara</li>
                    <li>4 ounces chicken liver</li>
                    <li>2 pieces onion</li>
                    <li>½ cup chicharon crumbled</li>
                    <li>3 tablespoons Lady's Choice Mayonnaise</li>
                    <li>2 teaspoons onion powder</li>
                    <li>¼ teaspoon ground black pepper</li>
                    <li>½ teaspoon chili flakes optional</li>
                    <li>1 tablespoon butter</li>
                    <li>3 tablespoons cooking oil</li>
                    <li>2 quarts water</li>
                </ul>

                <h2>Steps</h2>
                <ol>
                    <li>
                        Boil water in a pot. Add pork belly and pig face. Cover
                        and continue to boil for 1 hour in medium heat. Drain
                        water and let the meat cool down.
                    </li>
                    <li>
                        Grill boiled meats for 5 minutes per side. Remove from
                        the grill and chop into small pieces. Note: feel free to
                        mince the meat if preferred.
                    </li>
                    <li>Heat oil on a pan. Saute onion for 1 minute.</li>
                    <li>
                        Add chicken liver. Continue to sauté until thoroughly
                        cooked. Mash the liver while cooking until it breaks
                        down into small pieces.
                    </li>
                    <li>
                        Add minced meat and chicharon into the pan. Stir until
                        all ingredients are evenly distributed.
                    </li>
                    <li>
                        Add chili flakes, onion powder, and ground black pepper.
                    </li>
                    <li>Pour Knorr Liquid Seasoning. Stir.</li>
                    <li>
                        Add Lady's Choice Mayonnaise. Stir and cook for 3
                        minutes. Set aside.
                    </li>
                    <li>
                        Heat a metal plate. Add butter. Tranfer cooked sisig
                        onto the metal plate. Continue to cook until it sizzles.
                        Top with more chicharon.
                    </li>
                    <li>
                        Serve with calamansi or lime. Serve. Share and enjoy
                        with white rice.Serve with calamansi or lime. Serve.
                        Share and enjoy with white rice.
                    </li>
                </ol>
            </article>
        </main>
        <a
            href="https://panlasangpinoy.com/sisig-recipe-knr-kls/"
            rel="noopener noreferrer"
        >
            Credits
        </a>

        <hr />
        <footer>
            <a
                href="https://github.com/Soljira/odin-recipes"
                rel="noopener noreferrer"
            >
                <i
                    data-feather="github"
                    style="vertical-align: text-center"
                ></i>
                Soljira
            </a>
            <a href="mailto:soljiragit@gmail.com">
                <i data-feather="mail" style="vertical-align: text-center"></i>
                soljiragit@gmail.com
            </a>
            <!-- Needed for rendering feather icons -->
            <script>
                feather.replace();
            </script>
        </footer>
    </body>
</html>
